.balance {
  display: flex;
}
.label {
  margin-right: 1em;
}
.amount {
  text-align: right;
  margin-left: auto;
}

:host.total {
  font-weight: bold;
}
:host.overdraft {
  color: var(--accentcolour1);
}